<div id="blurry-filter"></div>
<header>
    <div class="header">
        <div style="width:30%" class="block-logo">
            <a id="logo bg-red" [routerLink]="['']">
                <img id="img-logo" src="assets/tokyo-cards-logo.png" alt="" />
            </a>
        </div>
        <nav class="stroke me-2">
            <ul>
                <li><a href="#">POKEMON</a></li>
                <li><a href="#">ONE PIECE</a></li>
                <li><a href="#">Dragon Ball Super</a></li>
                <li><a href="#">Yu-Gi-Oh!</a></li>
                <li><a href="#">Ultra Pro et Accessoires</a></li>
            </ul>
        </nav>
        <div style="width:10%" class="cart ">
            <button class="button-5 me-5" (click)="openOffcanvas(offCanvasContent)">
          <fa-icon class="me-3" [icon]="faBag"></fa-icon> 8,80€
          <span class="badge">{{ cartItemCount }}</span>
        </button>

            <ng-template #offCanvasContent let-offcanvas>
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title">Panier</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body">
                    <p>One fine body&hellip;</p>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Fermer</button>
                    </div>
                </div>
            </ng-template>


        </div>

        <div style="width: 5% ;" class="block-logo text-start ms-2 me-5">
            <div id="icon">

                <button class="button-17" *ngIf="isTokenInSession()" [matMenuTriggerFor]="menu" role="button">{{getFirstName()}} . {{getName() }} </button>

                <mat-menu #menu="matMenu" class="customize">
                    <button mat-menu-item>Tableau de bord</button>
                    <button mat-menu-item>Commandes</button>
                    <button mat-menu-item>Adresses</button>
                    <button mat-menu-item>Détails du compte</button>
                    <button [routerLink]="'/admin'" style="color:blue" mat-menu-item *ngIf="isTokenInSession() && getRole() == 'admin'"><strong>Administration</strong></button>
                    <button mat-menu-item *ngIf="isTokenInSession()" (click)="logout()"><strong>Déconnexion</strong></button>

                </mat-menu>

                <button class="btn" (click)="openDialog()" *ngIf="!isTokenInSession()">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
                <div class="cart-popup" *ngIf="showPopup">
                    Votre panier a été mis à jour !
                </div>
            </div>
        </div>
    </div>

</header>