<div id="blurry-filter"></div>
<header>
    <div class="header">
        <div style="width:30%" class="block-logo">
            <a id="logo bg-red" [routerLink]="['']">
                <img id="img-logo" src="assets/urban_bushido_logo.png" alt="" />
            </a>
        </div>
        <nav class="stroke me-2">
            <ul>
                <li><a href="#">One Piece</a></li>
                <li><a href="#">Naruto</a></li>
                <li><a href="#">Dragon Ball Z</a></li>
                <li><a href="#">Hunter x Hunter</a></li>
                <li><a href="#">Vinland Saga</a></li>
            </ul>
        </nav>
        <div style="width:10%" class="cart ">
            <button class="button-5 me-5" (click)="openOffcanvas(offCanvasContent)">
          <fa-icon class="me-3" [icon]="faBag"></fa-icon> 8,80€
          <span class="badge">{{ cartItemCount }}</span>
        </button>

            <ng-template #offCanvasContent let-offcanvas>
                <div class="offcanvas-header border-bottom ">
                    <h4 class="offcanvas-title">Panier</h4>
                    <button type="button" class="mt-2 btn btn-link" (click)="offcanvas.close('Close click')"> <fa-icon [icon]="faXmark"></fa-icon> Fermer</button>
                </div>
                <div class="offcanvas-body">
                    <ul>
                        <li *ngFor="let item of cartItems">
                            {{ item.product.name }} - {{ item.product.price }} - Quantité : {{ item.quantity }}
                            <button (click)="incrementQuantity(item)">+</button>
                            <button (click)="decrementQuantity(item)">-</button>
                            <button (click)="removeFromCart(item.product.id)">Supprimer</button>
                        </li>
                    </ul>

                </div>
            </ng-template>



        </div>

        <div style="width: 5% ;" class="block-logo text-start ms-2 me-5">
            <div id="icon">

                <button class="button-17" *ngIf="isTokenInSession()" [matMenuTriggerFor]="menu" role="button">{{getFirstName()}} . {{getName() }} </button>

                <mat-menu #menu="matMenu" class="customize">
                    <button mat-menu-item>Tableau de bord</button>
                    <button mat-menu-item>Commandes</button>
                    <button mat-menu-item>Adresses</button>
                    <button mat-menu-item>Détails du compte</button>
                    <button [routerLink]="'/admin'" style="color:blue" mat-menu-item *ngIf="isTokenInSession() && getRole() == 'admin'"><strong>Administration</strong></button>
                    <button mat-menu-item *ngIf="isTokenInSession()" (click)="logout()"><strong>Déconnexion</strong></button>

                </mat-menu>

                <button class="btn" (click)="openDialog()" *ngIf="!isTokenInSession()">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
            </div>
        </div>
    </div>

</header>