.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 1.2em;
}

.mat-card {
  padding-top: 0; /* Supprimer le padding en haut de la card */
}

.container {
  margin-top: 150px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer verticalement le contenu */
  justify-content: center; /* Centrer horizontalement le contenu */
  height: 100%; /* Occuper toute la hauteur du mat-card */
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.verification-text {
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}
