<div sty class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 p-5 text-center">
            <div id="carouselIndicators" class="carousel slide">

                <div class="carousel-indicators">
                    <button *ngFor="let image of carouselImages; let i = index" type="button" [attr.data-bs-target]="'#carouselIndicators'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : 'false'" [attr.aria-label]="'Slide ' + (i + 1)"></button>
                </div>

                <div class="carousel-inner">
                    <div *ngFor="let image of carouselImages; let i = index" class="carousel-item" [class.active]="i === 0">
                        <img [src]="image" class="d-block w-100 my-carousel-image" alt="..." />
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
          <fa-icon [icon]="faLeft"></fa-icon>
          <span class="visually-hidden">Previous</span>
        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
          <fa-icon [icon]="faRight"></fa-icon>
          <span class="visually-hidden">Next</span>
        </button>
            </div>
        </div>
        <div *ngIf="product" class="col-lg-4 col-md-6 col-sm-12">
            <form [formGroup]="productForm">
                <h1 class="text-center">{{product.name}}</h1>
                <ul>
                    <li>Manga : {{product.category.name}}</li>
                    <li>Taille : </li>
                    <li>Description : </li>
                </ul>
                <div class="row">
                    <div class="col ms-5">
                        <h3>{{product.price}} EUR</h3>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button [disabled]="productForm.value.quantity <= 1" mat-raised-button (click)="decrement()" class="me-2" style="height: 50px">
              -
            </button>
                        <mat-form-field style="width: 70px; height: 80px">
                            <input type="text" formControlName="quantity" class="form-control text-dark text-center" matInput />
                        </mat-form-field>
                        <button style="height: 50px" class="ms-2" mat-raised-button (click)="increment()">
              +
            </button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col text-start">
                        <button (click)="addToCart()" class="btn effect-smooth">
              <span>Ajouter au panier</span>
            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>