<div class="container">
    <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

    <p class="text-center title">Nos articles du moment</p>

    <div class="row mt-5">
        <ng-container *ngFor="let product of products; let i = index">
            <div class="col-md-4">
                <app-product [productName]="product.name" [productImageUrl]="product.coverImage" [productPrice]="product.price" [isAvailableInStock]="product.isAvailableInStock!!" [id]="product.id"></app-product>
            </div>
            <div *ngIf="i % 3 === 2" class="w-100"></div>
        </ng-container>
    </div>

</div>